

.jobsearch-container {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:30vh;
    width:70%;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 20px;
  }
  
  .jobsearch-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom:10px
  }
  
  .jobsearch-subtitle {
    font-size: 18px;
    color:  var(--theme-red);
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .jobsearch-filters {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .jobsearch-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    font-weight: bold;
  }
  
  .job-search-btn {
    padding: 10px 15px;
    font-size: 16px;
    background-color:  var(--theme-red);
    color: white;
    border: none;
    border-radius: 5px;
    height:40px;
    width: 7%;
    cursor: pointer;
  }
  
  .job-search-btn:hover {
    background-color: #c9302c;
  }
  
  .job-no-posts {
    margin-top:-30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .jobsearch-container {
        width: 90%; 
        height: auto; 
        padding: 15px;
    }

    .jobsearch-title {
        font-size: 22px; 
    }

    .jobsearch-subtitle {
        font-size: 16px;
    }

  
    .jobsearch-dropdown {
        font-size: 9px;
        width: 90%; 
    }

    .job-search-btn {
        width: 50px; 
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-no-posts {
        margin-top: 10px;
        font-size: 14px;
    }
}
