.signin-container {

    text-align: center;
  }
  
  .signin-title {
    color: var(--theme-red);
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block; 
}

.signin-title::after {
    content: "";
    display: block;
    width: 4%;
    height: 3px; 
    background-color:  var(--theme-red);
    position: absolute;
    left: 48%; 
}

  
  .signin-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: left;
    align-items: center;
    margin: 0 auto; 
    display: block;
    margin-bottom: 10px;
  }
  
  .signin-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--theme-red);
    margin-bottom: 8px;
    display: block;
    margin-left: 5%; 
  }
  .signin-required{
    color: red;
  }
  
   .signin-input {
    width: 90%; 
    max-width: 400px;
    padding: 10px;
    margin: 0 5% 18px 5%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
  }
  
  .forgot-password {
    display: block;
    color: #007bff;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .signin-btn {
    width: 25%;
    padding: 6px ;
    background-color:  var(--theme-red);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display: block; 
    margin: 10px auto;
    text-align: center;
  }
  .signin-btn{
    padding: 10px 30px !important;
  }
  
  .signin-btn:hover {
    background-color: #5d1414;
  }
  
  .signin-register-box {
    margin-top: 15px;
    padding-left: 10px;
    width: 500px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    display: block;
    margin-bottom: 40px;
  }
  
  .signin-register-box p {
    margin: 0;
    color: var(--theme-red);
  }
  
  .register-btn {
    width: 36%;
    margin-top: 10px;
    padding: 8px;
    background-color: var(--theme-red);
    color: white;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-btn:hover {
    background-color: #5d1414;
  }

 /* Forgot Password Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-container h3 {
  color: var(--theme-red);
  margin-bottom: 15px;
}

.modal-container label {
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: var(--theme-red);
  margin-top: 10px;
}

.modal-container .signin-input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-container .signin-btn {
  width: 100%;
  margin-top: 15px;
}
.forget-btn{
  width: 50%;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--theme-red);
  color: white;
}
.close-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 34px !important;
  cursor: pointer;
  color: #414040 !important;
}

.close-icon:hover {
  color: var(--theme-red) !important;
}
  
  @media (max-width: 768px) {
    .signin-box, .signin-register-box {
      width: 100%;
      padding: 15px;
    }
    .signin-title::after {
        width:10%
    }

    .signin-register-box{
      margin-bottom: 20px;
    } 
  
    .signin-input {
      width: 100%;
      max-width: none;
      margin: 0 0 15px 0;
    }
    .signin-input {
      padding: 5px !important;
    }
    .register-btn {
      width: 80%; 
    }

    .signin-btn{
      width: 70%;
    }
    .signin-btn{
      padding: 10px 45px !important;
    }
    .modal-container {
      width: 80%;
      padding: 15px; /* Reduce padding */
    }
    .modal-container h3{
      font-size: 20px;
    }
  
    .close-icon {
      font-size: 25px !important; /* Reduce icon size */
      top: 15px;
      right: 5px;
    }
  
  }